.info-card {
  padding: 4.5rem 3rem;

  @include desktop {
    width: 40%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 3rem 7rem 6rem;
  }

  &__link {
    text-decoration: none;
    color: $primary-heading-text;
    letter-spacing: 0.75rem;
    font-size: 1.125rem;
    margin-top: 3rem;
    display: inline-block;

    &:hover {
      color: $primary-body-text;

      .info-card__link-arrow {
        margin-left: 1.5rem;
        filter: invert(69%) sepia(15%) saturate(4%) hue-rotate(330deg)
          brightness(92%) contrast(81%);
      }
    }
  }

  &__link-arrow {
    margin-left: 1rem;
  }
}
