@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
.header {
  width: 100%;
  height: 10rem;
  padding: 2rem;
  position: absolute;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1440px) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 6rem;
  }
}

.header__menu-button {
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  left: 2rem;
}

@media screen and (min-width: 1440px) {
  .header__menu-button {
    display: none;
  }
}

.header__nav {
  display: none;
}

@media screen and (min-width: 1440px) {
  .header__nav {
    display: block;
  }
}

.header__nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-link {
  padding: 1.5rem;
  color: white;
}

.hero {
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .hero {
    width: 100%;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.hero__image {
  width: 100%;
  height: 100vw;
  position: relative;
}

@media screen and (min-width: 1440px) {
  .hero__image {
    width: 60%;
    height: 60vh;
  }
}

.hero__image--slide-1 {
  background: url("../assets/images/mobile-image-hero-1.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1440px) {
  .hero__image--slide-1 {
    background: url("../assets/images/desktop-image-hero-1.jpg");
    background-size: cover;
    background-position: center;
  }
}

.hero__image--slide-2 {
  background: url("../assets/images/mobile-image-hero-2.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1440px) {
  .hero__image--slide-2 {
    background: url("../assets/images/desktop-image-hero-2.jpg");
    background-size: cover;
    background-position: center;
  }
}

.hero__image--slide-3 {
  background: url("../assets/images/mobile-image-hero-3.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1440px) {
  .hero__image--slide-3 {
    background: url("../assets/images/desktop-image-hero-3.jpg");
    background-size: cover;
    background-position: center;
  }
}

.carousel-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 1440px) {
  .carousel-buttons {
    right: -10vw;
  }
}

.carousel-buttons__button {
  width: 5.25rem;
  height: 5.25rem;
  padding: 1.875rem;
  border: none;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  background: #000000;
}

.carousel-buttons__button:hover {
  background: #444444;
}

@media screen and (min-width: 1440px) {
  .carousel-buttons__button {
    width: 5vw;
    height: 5vw;
  }
}

.carousel-buttons__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.info-card {
  padding: 4.5rem 3rem;
}

@media screen and (min-width: 1440px) {
  .info-card {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 3rem 7rem 6rem;
  }
}

.info-card__link {
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.75rem;
  font-size: 1.125rem;
  margin-top: 3rem;
  display: inline-block;
}

.info-card__link:hover {
  color: #a0a0a0;
}

.info-card__link:hover .info-card__link-arrow {
  margin-left: 1.5rem;
  -webkit-filter: invert(69%) sepia(15%) saturate(4%) hue-rotate(330deg) brightness(92%) contrast(81%);
          filter: invert(69%) sepia(15%) saturate(4%) hue-rotate(330deg) brightness(92%) contrast(81%);
}

.info-card__link-arrow {
  margin-left: 1rem;
}

.gallery-image {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 1440px) {
  .gallery-image {
    width: 30%;
    height: 40vh;
  }
}

.about {
  padding: 4.5rem 3rem;
}

@media screen and (min-width: 1440px) {
  .about {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2.5rem 4.5rem 4.5rem;
  }
}

html {
  font-size: 12px;
}

body,
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Spartan, sans-serif;
  font-weight: 500;
}

h1 {
  color: #000000;
  font-size: 2.25rem;
  font-weight: 600;
  margin: 1.5rem 0;
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 3rem;
  }
}

h3 {
  color: #000000;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.35rem;
  margin-bottom: 1.5rem;
}

p {
  color: #a0a0a0;
  font-size: 1rem;
  line-height: 1.75rem;
}

main {
  font-size: 0;
}

@media screen and (min-width: 1440px) {
  main {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=app.css.map */