@import "./partials/fonts";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/carousel-buttons";
@import "./partials/info-card";
@import "./partials/gallery-image";
@import "./partials/about";

// global resets
html {
  font-size: 12px;
}

body,
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Spartan, sans-serif;
  font-weight: 500;
}

// global typography
h1 {
  color: $primary-heading-text;
  font-size: 2.25rem;
  font-weight: 600;
  margin: 1.5rem 0;

  @include desktop {
    font-size: 3rem;
  }
}

h3 {
  color: $primary-heading-text;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.35rem;
  margin-bottom: 1.5rem;
}

p {
  color: $primary-body-text;
  font-size: 1rem;
  line-height: 1.75rem;
}

main {
  font-size: 0;

  @include desktop {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
}
